
.form12{color:rgb(243, 239, 6); border: 4px solid tomato; font-family: Arial, Helvetica, sans-serif; background-color:rgb(192, 139, 118)}
.tab1{border; color: rgba(226, 134, 14, 0.925); text-align: justify;}


 th, td,.tabed{ border: 2px solid black;background-color: lightslategray;
}
